html,
body {
  margin: 0;
  padding: 0;
  background-color: #05101c;
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.image-inverted {
  filter: invert(100%);
}